body {
  background: #000;
  font-family: 'IBM Plex Sans KR', sans-serif;
}
.flag-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag-con {
  width: 50vw;
}
/* flag-svg */
@keyframes flag-top-ani {
  from {stroke-dashoffset: 3400;}
  to {stroke-dashoffset: 0;}
}
@keyframes flag-bottom-ani {
  from {stroke-dashoffset: 3200;}
  to {stroke-dashoffset: 0;}
}
.cls-1,.cls-2,.cls-3{fill:none;stroke-linecap:round;stroke-linejoin:round;}
.cls-1,.cls-2{stroke-width:40px;}
.cls-1{stroke:#005bbb; stroke-dasharray: 3400; stroke-dashoffset: 3400; animation: flag-top-ani 10s forwards;}
.cls-2{stroke:#FFD500; stroke-dasharray: 3200; stroke-dashoffset: 3200; animation: flag-bottom-ani 10s forwards;}
.cls-3{stroke:#000;stroke-width:20px;}
/* ---------- */

.news-section {
  
}
.news-con {
  padding: 100px 30px;
}
.news-item {
  padding: 20px 0;
}
.news-item .title {
  padding: 10px 0;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
.news-item .content {
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 400;
  color: #888;
}

.donation-section {
  
}
.donation-con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  
  padding: 200px 30px;
  gap: 20px;
}
.donation-item {
  position: relative;
  height: 200px;
  padding: 15px;
  transition-duration: 1s;
  background: white;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
}

.donation-item .donation-name {
  padding: 15px;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-shadow: #888 1px 1px;
  transition-duration: 1s;
}
.donation-item .donation-text {
  padding: 15px;
  color: #fff;
  text-shadow: #888 1px 1px;
  line-height: 2rem;
  transition-duration: 1s;
  opacity: 0;
  z-index: 5;
}
.donation-item .donation-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  transform: scale(3, 3);
  transition-duration: 1s;
  opacity: 1;
  z-index: 3;
}
.donation-item.selected {
  box-shadow: #005bbb 5px 5px;
  transform: translate(-5px, -5px);
  transition-duration: 1s;
}
.donation-item.selected .donation-name {

}
.donation-item.selected .donation-text {
  opacity: 1;
}
.donation-item.selected .donation-logo {
  opacity: 0;
}
.comment-section {
  height: 100vh;
}
.comment-input-con {
  display: flex;
  padding: 30px;
}
#comment-form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.comment-textbox {
  flex-grow: 9;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #fff;
  border: 4px solid #005bbb;
  border-radius: 30px;
}
.comment-button {
  flex-grow: 1;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  background: #FFD500;
  border: 1px solid #FFD500;
  border-radius: 30px;
}

@media screen and (max-width: 800px) {
  .donation-con {
    grid-template-columns: 1fr;
  }
}